:root {
    /* Primary colors */
    --prim-blue-work: hsl(15, 100%, 70%);
    --prim-soft-blue-play: hsl(195, 74%, 62%);
    --prim-light-red-study: hsl(348, 100%, 68%);
    --prim-light-green-exercise: hsl(145, 58%, 55%);
    --prim-violet-social: hsl(264, 64%, 52%);
    --prim-soft-orange-selfcare: hsl(43, 84%, 65%);

    /* Neutral*/ 
    --neu-vdark-blue: hsl(226, 43%, 10%);
    --neu-dark-blue: hsl(235, 46%, 20%);
    --neu-opaque-dark-blue: hsl(235, 46%, 35%);
    --neu-desat-blue: hsl(246, 69%, 60%);
    --neu-pale-blue: hsl(236, 100%, 87%);
}

* {
    margin: 0;
    border: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--neu-vdark-blue);
}

.master-container {
    width: 85%;
    min-width: 820px;
    max-width: 1150px;
    height: 485px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .options-container {
        width: 22.5%;
        min-width: 200px;
        background-color: var(--neu-dark-blue);
        color: white;
        border-radius: 1em;
        transform: translateY(22.5%);
        transition: transform 0.5s;
        height: 70%;

        .options-upper-container {
            position: absolute;
            background-color: var(--neu-desat-blue);
            border-radius: 1em;
            height: 97.5%;
            transform: translateY(1%);
            transition: transform 0.5s;
            z-index: 1;
            
            .options-profile-container {
                border-radius: 1em;
                height: 100%;

                p {
                    margin: 2em 1em 1em 2em;
                    color: var(--neu-pale-blue);
                }

                h1 {
                    margin: 0.5em 1em 2em 1em;
                    font-weight: 300;
                }

                img {
                    border: 3px solid white;
                    border-radius: 3em;
                    margin: 2em 0 0 2em;
                    width: clamp(40px, 50%, 75px);
                    height: auto;
                }
            }
        }

        ul {
            position: absolute;
            bottom: 0;
            padding: 0.5em 0;
            list-style-type: none;
            padding-left: 1.75em;
            li {
                margin: 1.25em 0;
                a {
                    color: var(--neu-pale-blue);
                    text-decoration: none;
                    transition: color 0.35s;

                    &:hover {
                        color: white;
                        transition: color 0.35s;
                    }
                }
            }
        }
    }

    .stats-container {
        width: 850%;
        max-width: 850px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1.5em;
        margin-left: 1.5em;

        .bgdiv {
            position: relative;
            border-radius: 1em;
            height: 191.59px;

            .bgimgCtn {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 30%;
                overflow: hidden;
            
                .bgimg {
                    position: absolute;
                    top: -10px;
                    right: 0;
                }
            
            }

            .fgdiv {
                background-color: var(--neu-dark-blue);
                border-radius: 1em;
                color: white;
                position: absolute;
                bottom: 0;
                left: -1px;
                width: 100.5%;
                height: 100%;
                transform: translateY(0%);
                transition: all 0.5s;

                .head-ellipse {
                    width: 90%;
                    margin: 2em 0 2em 2em;
                    display: flex;
                    justify-content: space-between;

                    h4 {
                        font-size: clamp( 1rem, 1.5vw, 1.125rem);
                        font-weight: 500;
                    }

                    a {
                        margin-bottom: 0.25em;
                        margin-right: 2.5em;
                    }
                }

                .stat-div {
                    margin-left: 2em;

                    h1 {
                        font-size: clamp(2rem, 3vw, 2.5rem);
                        font-weight: 300;
                    }

                    p {
                        font-size: 0.9rem;
                        color: var(--neu-pale-blue);
                        margin-top: 1em;
                    }
                }

                &:hover {
                    background-color: var(--neu-opaque-dark-blue);
                    cursor: pointer;
                    transition: all 0.5s;
                }
            }
        }

        .work {
            background-color: var(--prim-blue-work);
        }

        .play {
            background-color: var(--prim-soft-blue-play);
        }

        .study {
            background-color: var(--prim-light-red-study);
        }

        .exercise {
            background-color: var(--prim-light-green-exercise);
        }

        .social {
            background-color: var(--prim-violet-social);
        }

        .self-care {
            background-color: var(--prim-soft-orange-selfcare);
        }
    }
}

.nav-active {
    color: white !important;
}

.upper-ctn-anim {
    transform: translateY(-43%) !important;
    transition: transform 0.5s !important;
}

.options-ctn-anim {
    transform: translateY(43%) !important;
    transition: transform 0.5s !important;
}

@keyframes fgdiv-anim {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in-out 0.9s;
    }
    35% {
        transform: translateY(25%);
        animation-timing-function: ease-in-out 0.9s;
    }
    50% {
        transform: translateY(10%);
        animation-timing-function: ease-in-out 0.9s;
    }
    70% {
        transform: translateY(20%);
        animation-timing-function: ease-in-out 0.9s;
    }
    85% {
        transform: translateY(15%);
        animation-timing-function: ease-in-out 0.9s;
    }
    100% {
        transform: translateY(20%);
        animation-timing-function: ease-in-out 0.9s;
    }
}

.fgdiv {
    animation-name: fgdiv-anim;
    animation-duration: 0.9s;
}

.fgdiv-anim {
    transform: translateY(20%) !important;
    animation-name: fgdiv-anim;
    animation-duration: 0.9s;
}

@media only screen and (max-width: 480px) {
    .master-container {
        position: absolute;
        top: initial;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        width: 90%;
        min-width: 318px;
        max-width: 450px;
        height: 700px;
        overflow: visible;

        .options-container {
            width: 100%;
            min-height: 125px;
            .options-upper-container {
                width: 100%;
                top: -2px;

                .options-profile-container {
                    display: flex;
                    flex-direction: row;

                    p {
                        margin: 2.25em 1em 0 1em;
                    }

                    h1 {
                        font-size: 1.5rem;
                        margin: 0.25em 1.5em 2em 0.6em;
                    }

                    img {
                        margin: 1.75em 0 0 1.75em;
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                width: 80%;
                padding: initial;
                margin-left: 2.5em;
                margin-bottom: 1.35em;
                li {
                    margin: initial;
                }
                li:first-child {
                    margin-right: 0.5em;
                }
                li:last-child {
                    margin-right: 0.5em;
                }
            }
        }

        .stats-container {
            margin-top: 5em;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 3em;
            width: 100%;

            margin-left: 0;

            .bgdiv {
                width: 100%;
                height: 120px;

                .bgimgCtn {
                    height: 40%;
                }

                .fgdiv {

                    .head-ellipse {
                        margin: 1.5em 1em 0.5em 1.75em;

                        h4 {
                            font-size: 1.15rem;
                        }

                        a {
                            margin-right: 0.75em;
                        }
                    }

                    .stat-div {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 1.5em;


                        p {
                            margin-right: 2em;
                        }
                    }
                }
            }
        }
    }

    @keyframes fgdiv-anim {
        0% {
            transform: translateY(0%);
            animation-timing-function: ease-in-out 0.9s;
        }
        35% {
            transform: translateY(35%);
            animation-timing-function: ease-in-out 0.9s;
        }
        50% {
            transform: translateY(10%);
            animation-timing-function: ease-in-out 0.9s;
        }
        70% {
            transform: translateY(25%);
            animation-timing-function: ease-in-out 0.9s;
        }
        85% {
            transform: translateY(17.5%);
            animation-timing-function: ease-in-out 0.9s;
        }
        100% {
            transform: translateY(27.5%);
            animation-timing-function: ease-in-out 0.9s;
        }
    }

    .fgdiv-anim {
        transform: translateY(27.5%) !important;
    }
}
