:root {
  /* Primary colors */
  --prim-blue-work: hsl(15, 100%, 70%);
  --prim-soft-blue-play: hsl(195, 74%, 62%);
  --prim-light-red-study: hsl(348, 100%, 68%);
  --prim-light-green-exercise: hsl(145, 58%, 55%);
  --prim-violet-social: hsl(264, 64%, 52%);
  --prim-soft-orange-selfcare: hsl(43, 84%, 65%);
  /* Neutral*/
  --neu-vdark-blue: hsl(226, 43%, 10%);
  --neu-dark-blue: hsl(235, 46%, 20%);
  --neu-opaque-dark-blue: hsl(235, 46%, 35%);
  --neu-desat-blue: hsl(246, 69%, 60%);
  --neu-pale-blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  border: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.master-container {
  width: 85%;
  min-width: 820px;
  max-width: 1150px;
  height: 485px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.master-container .options-container {
  width: 22.5%;
  min-width: 200px;
  background-color: var(--neu-dark-blue);
  color: white;
  border-radius: 1em;
  -webkit-transform: translateY(22.5%);
          transform: translateY(22.5%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  height: 70%;
}

.master-container .options-container .options-upper-container {
  position: absolute;
  background-color: var(--neu-desat-blue);
  border-radius: 1em;
  height: 97.5%;
  -webkit-transform: translateY(1%);
          transform: translateY(1%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 1;
}

.master-container .options-container .options-upper-container .options-profile-container {
  border-radius: 1em;
  height: 100%;
}

.master-container .options-container .options-upper-container .options-profile-container p {
  margin: 2em 1em 1em 2em;
  color: var(--neu-pale-blue);
}

.master-container .options-container .options-upper-container .options-profile-container h1 {
  margin: 0.5em 1em 2em 1em;
  font-weight: 300;
}

.master-container .options-container .options-upper-container .options-profile-container img {
  border: 3px solid white;
  border-radius: 3em;
  margin: 2em 0 0 2em;
  width: clamp(40px, 50%, 75px);
  height: auto;
}

.master-container .options-container ul {
  position: absolute;
  bottom: 0;
  padding: 0.5em 0;
  list-style-type: none;
  padding-left: 1.75em;
}

.master-container .options-container ul li {
  margin: 1.25em 0;
}

.master-container .options-container ul li a {
  color: var(--neu-pale-blue);
  text-decoration: none;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}

.master-container .options-container ul li a:hover {
  color: white;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}

.master-container .stats-container {
  width: 850%;
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1.5em;
  margin-left: 1.5em;
}

.master-container .stats-container .bgdiv {
  position: relative;
  border-radius: 1em;
  height: 191.59px;
}

.master-container .stats-container .bgdiv .bgimgCtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30%;
  overflow: hidden;
}

.master-container .stats-container .bgdiv .bgimgCtn .bgimg {
  position: absolute;
  top: -10px;
  right: 0;
}

.master-container .stats-container .bgdiv .fgdiv {
  background-color: var(--neu-dark-blue);
  border-radius: 1em;
  color: white;
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100.5%;
  height: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.master-container .stats-container .bgdiv .fgdiv .head-ellipse {
  width: 90%;
  margin: 2em 0 1.25em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.master-container .stats-container .bgdiv .fgdiv .head-ellipse h4 {
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 500;
}

.master-container .stats-container .bgdiv .fgdiv .head-ellipse a {
  margin-bottom: 0.25em;
  margin-right: 2.5em;
}

.master-container .stats-container .bgdiv .fgdiv .stat-div {
  margin-left: 2em;
}

.master-container .stats-container .bgdiv .fgdiv .stat-div h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 300;
}

.master-container .stats-container .bgdiv .fgdiv .stat-div p {
  font-size: 0.9rem;
  color: var(--neu-pale-blue);
  margin-top: 1em;
}

.master-container .stats-container .bgdiv .fgdiv:hover {
  background-color: var(--neu-opaque-dark-blue);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.master-container .stats-container .work {
  background-color: var(--prim-blue-work);
}

.master-container .stats-container .play {
  background-color: var(--prim-soft-blue-play);
}

.master-container .stats-container .study {
  background-color: var(--prim-light-red-study);
}

.master-container .stats-container .exercise {
  background-color: var(--prim-light-green-exercise);
}

.master-container .stats-container .social {
  background-color: var(--prim-violet-social);
}

.master-container .stats-container .self-care {
  background-color: var(--prim-soft-orange-selfcare);
}

.nav-active {
  color: white !important;
}

.upper-ctn-anim {
  -webkit-transform: translateY(-43%) !important;
          transform: translateY(-43%) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.options-ctn-anim {
  -webkit-transform: translateY(43%) !important;
          transform: translateY(43%) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

@-webkit-keyframes fgdiv-anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  35% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  70% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  85% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
}

@keyframes fgdiv-anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  35% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  70% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  85% {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-animation-timing-function: ease-in-out 0.9s;
            animation-timing-function: ease-in-out 0.9s;
  }
}

.fgdiv {
  -webkit-animation-name: fgdiv-anim;
          animation-name: fgdiv-anim;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

.fgdiv-anim {
  -webkit-transform: translateY(20%) !important;
          transform: translateY(20%) !important;
  -webkit-animation-name: fgdiv-anim;
          animation-name: fgdiv-anim;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

@media only screen and (max-width: 480px) {
  .master-container {
    position: absolute;
    top: initial;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    min-width: 318px;
    max-width: 450px;
    height: 700px;
    overflow: visible;
  }
  .master-container .options-container {
    width: 100%;
    min-height: 125px;
  }
  .master-container .options-container .options-upper-container {
    width: 100%;
    top: -2px;
  }
  .master-container .options-container .options-upper-container .options-profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .master-container .options-container .options-upper-container .options-profile-container p {
    margin: 2.25em 1em 0 1em;
  }
  .master-container .options-container .options-upper-container .options-profile-container h1 {
    font-size: 1.5rem;
    margin: 0.25em 1.5em 2em 0.6em;
  }
  .master-container .options-container .options-upper-container .options-profile-container img {
    margin: 1.75em 0 0 1.75em;
    width: 60px;
    height: 60px;
  }
  .master-container .options-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    padding: initial;
    margin-left: 2.5em;
    margin-bottom: 1.35em;
  }
  .master-container .options-container ul li {
    margin: initial;
  }
  .master-container .options-container ul li:first-child {
    margin-right: 0.5em;
  }
  .master-container .options-container ul li:last-child {
    margin-right: 0.5em;
  }
  .master-container .stats-container {
    margin-top: 5em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    width: 100%;
    margin-left: 0;
  }
  .master-container .stats-container .bgdiv {
    width: 100%;
    height: 120px;
  }
  .master-container .stats-container .bgdiv .bgimgCtn {
    height: 40%;
  }
  .master-container .stats-container .bgdiv .fgdiv .head-ellipse {
    margin: 1.5em 1em 0.5em 1.75em;
  }
  .master-container .stats-container .bgdiv .fgdiv .head-ellipse h4 {
    font-size: 1.15rem;
  }
  .master-container .stats-container .bgdiv .fgdiv .head-ellipse a {
    margin-right: 0.75em;
  }
  .master-container .stats-container .bgdiv .fgdiv .stat-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1.5em;
  }
  .master-container .stats-container .bgdiv .fgdiv .stat-div p {
    margin-right: 2em;
  }
  @-webkit-keyframes fgdiv-anim {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    35% {
      -webkit-transform: translateY(35%);
              transform: translateY(35%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    50% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    70% {
      -webkit-transform: translateY(25%);
              transform: translateY(25%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    85% {
      -webkit-transform: translateY(17.5%);
              transform: translateY(17.5%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    100% {
      -webkit-transform: translateY(27.5%);
              transform: translateY(27.5%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
  }
  @keyframes fgdiv-anim {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    35% {
      -webkit-transform: translateY(35%);
              transform: translateY(35%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    50% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    70% {
      -webkit-transform: translateY(25%);
              transform: translateY(25%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    85% {
      -webkit-transform: translateY(17.5%);
              transform: translateY(17.5%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
    100% {
      -webkit-transform: translateY(27.5%);
              transform: translateY(27.5%);
      -webkit-animation-timing-function: ease-in-out 0.9s;
              animation-timing-function: ease-in-out 0.9s;
    }
  }
  .fgdiv-anim {
    -webkit-transform: translateY(27.5%) !important;
            transform: translateY(27.5%) !important;
  }
}
/*# sourceMappingURL=style.css.map */